:root {
    --bg-color: #002855;
    --white: #589fe2;
    --left-bg: #e1f5fe;
    --right-bg: #8dc1eb;
    --text-color: #000000;
    --avatar-size: 40px;
    --message-max-width: 70%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

.chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages {
    max-height: 400px; 
    overflow-y: auto; 
}

.message {
    display: flex; /* Используем flexbox для размещения аватара и текста */
    align-items: center; /* Центрируем по вертикали */
    margin: 10px 0; /* Отступы между сообщениями */
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}

.message.left {
    flex-direction: row; 
}

.message.right {
    flex-direction: row-reverse; 
}

.avatar {
    width: 40px; /* Ширина аватара */
    height: 40px; /* Высота аватара */
    border-radius: 50%; /* Круглая форма аватара */
    margin-right: 10px; /* Отступ справа от аватара */
}

.message-content {
    max-width: var(--message-max-width); 
    padding: 10px; 
    position: relative; 
}

.message.left .message-content {
    background-color: var(--left-bg); 
    text-align: left; 
    border-radius: 8px 8px 8px 0; 
}

.message.right .message-content {
    background-color: var(--right-bg); 
    text-align: right; 
    border-radius: 8px 8px 0 8px; 
}

.message.left .message-content::after,
.message.right .message-content::after {
    content: '';
    position: absolute;
    top: 10px; 
    border-width: 10px;
    border-style: solid;
}

.message.left .message-content::after {
    left: -10px; 
    border-color: transparent var(--left-bg) transparent transparent; 
}

.message.right .message-content::after {
    right: -10px; 
    border-color: transparent transparent transparent var(--right-bg); 
}

.username {
    font-weight: bold; 
}

.timestamp {
    display: block; 
    font-size: 0.8em; 
    color: var(--text-color); 
}

/* Пример медиа-запроса для мобильных устройств */
@media (max-width: 600px) {
    .chat-container {
        padding: 5px;
        margin: 10px;
    }

    .message-content {
        max-width: 90%; /* Увеличение ширины сообщения на мобильных устройствах */
    }
}

.input-container {
    display: flex; /* Выравнивание поля ввода и кнопки */
}

.message-input {
    flex-grow: 1; /* Поле ввода занимает все доступное пространство */
}

.send-button {
    padding: 10px;
    background-color: var(--left-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}